body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
}
a { color: #3d3d3d; text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 2em; margin: 0.7em 0; }
h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    margin: 2em 0 1em;
}
p, li, dt, dd { line-height: 1.5em; }
li { margin: 0.5em 0; }
blockquote { border-left: 10px solid #cccccc; margin: 1em 0; padding: 0 40px 0 30px; }
table { font-size: 90%; }
pre {
    font-size: 80%;
    font-family: monospace;
    padding: 8px;
    background-color: #eee;
    border-radius: 8px;
    overflow: scroll;
}
code {
    font-size: 90%;
    padding: 2px 4px 2px 4px;
    background-color: #eee; 
    line-height: 1.5em;
    white-space: nowrap;
    border-radius: 4px;
}

sup { line-height: normal; }
tr { vertical-align: top; }
img { border: 0; }
img.align-none { height: auto; max-width: 100%; }
img.align-full { height: auto; width: 100%; }
img.align-left { float: left; margin: 6px 20px 6px 0; }
img.align-right { float: right; margin: 6px 0 6px 20px; }
img.align-center { display: block; margin: 0 auto; }
iframe { border: 0; }
input { font-size: 1em; }
#banner { color: #3d3d3d; }
#banner, #main, #addendum { min-width: 920px; padding: 1px 40px 1px; text-align: center; }
.sleeve { margin: 0 auto; text-align: left; width: 920px; }
#banner a { border-bottom: 0; margin: -3px -6px; padding: 3px 6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#nameplate, #toc { margin: 0.5em 0; }
#nameplate { float: left; }
#toc { float: right; }
#title, #description { display: inline; }
#title { font-family: 'Snowburst One', cursive; margin: 0 12px 0 0; }
#description { font-size: 0.8em; font-style: italic; margin: 0; }
#menu { margin: 0 -9px; padding-left: 0; }
.menu-item { float: left; line-height: normal; list-style-type: none; margin: 0; padding: 0 9px; position: relative; white-space: nowrap; }
#main { background-color: white; color: #3d3d3d; }
#main a { color: darkred; }
#main hr { background-color: #cccccc; border: 0; height: 1px; margin: 1em 0; }
#content { float: left; width: 640px; }
.format-link .post-title { font-size: 1.2em; margin: 1em 0; }
.post-title { margin: 0; border-bottom: solid 1px #3d3d3d; }
.format-quote blockquote { font-size: 1.5em; }
.format-quote blockquote + p { font-style: italic; margin-top: -1em; padding: 0 40px; text-align: right; }
.archive-list { padding-left: 0; }
.archive-item { list-style-type: none; }
#sidebar { float: right; margin: 2.5em 0; width: 240px; }
.panel { font-size: 0.8em; margin: 3em 0; }
.panel h1 { font-size: 1.5em; }
.panel ul { padding-left: 0; }
.panel li { list-style-type: none; }
#search label { display: none; }
#search input { width: 100%; }
.post { font-family: Georgia, serif; }
#page, .post, .archive { margin: 4em 0; }
#pagination { font-size: 0.8em; }
.footnotes, .archive-item time { font-size: 0.7em; }
.post-meta { margin: 0; }
#copyright, .post-meta { font-size: 0.8em; }
#banner:after, #main:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#profile-pic { float: left; margin-right: 1em; }
.pager-right { float: right; }
.pager-left { float: left; }
#main a.tag { color: #3d3d3d; }
